*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20px;
}
.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    background-color: red;
    
}
.nav-list li{

}

.nav-list li a{
    
}

.right-nav{
    width: 50%;
    background-color: aqua;
    text-align: right;

}