*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 40%;
    border-radius: 50%;
    border-color: white;
}
.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    background-color: red;
    
}
.nav-list li{

}

.nav-list li a{
    
}

.right-nav{
    width: 50%;
    background-color: aqua;
    text-align: right;

}